html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgb(30, 30, 30);
}

nav {
  position: fixed;
  width: 100%;
  height: 10%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.792);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.log {
  height: 100%;
  width: 20%;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(255, 130, 130);
}

.log:hover {
  border: 2px solid rgb(201, 255, 252);
}

.logo a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo a img {
  height: 50%;
  width: 70%;
  border-radius: 100px;
}

nav > .navbar > ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 100%;
}

nav > .navbar > ul li a {
  text-decoration: none;
  font-weight: bolder;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  transition: 0.2s;
}

nav > .navbar > ul > li > a:hover {
  color: rgb(195, 252, 250);
}

nav > .navbar > ul > li {
  transition: 0.3s;
  font-size: 1rem;
}

ul li:hover {
  transform: scale(1.1);
}

#first-off {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 105vh;
  background-color: rgb(0, 0, 0);
  align-items: flex-end;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px 0px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px 0px;
}

#first-off .fo-sec1 {
  height: 90.8%;
  width: 100%;
}

#first-off .fo-sec1 img {
  height: 100%;
  width: 100%;
}

.gap1 {
  width: 100%;
  height: 10vh;
}

#sec-off {
  height: 46vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

#sec-off .back {
  position: relative;
  width: 97%;
  border: none;
  height: 100%;
  overflow: hidden;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px 0px;
}

#sec-off #box1 {
  position: absolute;
  top: -10px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

#sec-off > .back > #box1 > video {
  width: 100%;
}

#sec-off > .sec-off-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#sec-off > .sec-off-content > #box1-p1 {
  color: rgb(226, 226, 226);
  font-size: 2.5rem;
  text-transform: capitalize;
  margin: 10px;
  padding: 10px;
}

#sec-off > .sec-off-content > .sec-off-btn {
  padding: 10px;
  margin: 10px;
}

#sec-off > .sec-off-content > .sec-off-btn button {
  font-size: 2.5rem;
  font-variant: small-caps;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-weight: bolder;
  border-radius: 20px;
  opacity: 0.5;
  padding: 1px 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  overflow: hidden;
  cursor: pointer;
}

#sec-off > .sec-off-content > .sec-off-btn button:hover {
  border: 2px solid rgba(147, 249, 253, 0.614);
  opacity: 1;
  background-color: transparent;
  color: white;
}

#sec-off > .sec-off-content #box1-p2 {
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  text-transform: capitalize;
}

.gap2 {
  height: 13vh;
}

.third-off {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 55vh;
  background-color: transparent;
}

.third-off .third-off-box1,
.third-off-box2,
.third-off-box3 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 25%;
  height: 100%;
  box-shadow: rgba(255, 255, 255, 0.16) 0px 3px 6px,
    rgba(255, 255, 255, 0.568) 0px 3px 6px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.third-off > .third-off-box1 > .box1-up,
.third-off-box2 > .box2-up,
.third-off-box3 > .box3-up {
  position: absolute;
  width: 100%;
  height: 12vh;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.third-off > .third-off-box1 > .box1-up > .box1-up-blackbox,
.third-off-box2 > .box2-up > .box2-up-blackbox,
.third-off-box3 > .box3-up > .box3-up-blackbox {
  background-color: rgba(255, 255, 255, 0.99);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
  opacity: 0.9;
  padding: 0px;
  margin: 0px;
  border-radius: 100px;
}

.third-off > .third-off-box1 > .box1-up > .box1-up-cont,
.third-off-box2 > .box2-up > .box2-up-cont,
.third-off-box3 > .box3-up > .box3-up-cont {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  color: rgb(25, 17, 3);
  height: 100%;
  width: 100%;
  word-spacing: 8px;
}

.third-off > .third-off-box1 > .box1-up > .box1-up-cont > p,
.third-off > .third-off-box2 > .box2-up > .box2-up-cont > p,
.third-off > .third-off-box3 > .box3-up > .box3-up-cont > p {
  font-size: 2rem;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: center;
}

.third-off > .third-off-box1 > .box1-down,
.third-off > .third-off-box2 > .box2-down,
.third-off > .third-off-box3 > .box3-down {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
}

.third-off > .third-off-box1 > .box1-down:hover,
.third-off > .third-off-box2 > .box2-down:hover,
.third-off > .third-off-box3 > .box3-down:hover {
  opacity: 1;
}

.third-off > .third-off-box1 > .box1-down a,
.third-off > .third-off-box2 > .box2-down a,
.third-off > .third-off-box3 > .box3-down a {
  width: 100%;
  height: fit-content;
}

.third-off > .third-off-box1 > .box1-down a:hover,
.third-off > .third-off-box2 > .box2-down a:hover,
.third-off > .third-off-box3 > .box3-down a:hover {
  opacity: 1;
}

.third-off > .third-off-box1 > .box1-down > a > button,
.third-off > .third-off-box2 > .box2-down > a > button,
.third-off > .third-off-box3 > .box3-down > a > button {
  padding: 1px 5px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bolder;
  height: 12vh;
  width: 100%;
  background-color: rgb(207, 253, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.third-off .third-off-box1 {
  background-image: url(./img/img3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.third-off .third-off-box2 {
  background-color: rgb(225, 209, 209);
  background-image: url(./img/img14.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.third-off .third-off-box3 {
  background-image: url(./img/img5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gap3 {
  height: 8vh;
  width: 100%;
}

.fourth-off-out .top-text {
  font-size: 2rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: bolder;
  text-indent: 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  width: 100%;
  padding: 5px;
  height: fit-content;
}

.fourth-off-out {
  width: 100%;
  height: 45vh;
  background-color: rgb(0, 0, 0);
  text-transform: capitalize;
  padding: 0px;
  margin: 0px;
  box-shadow: rgb(44, 62, 80) 0px -15px 15px -15px;
  overflow: hidden;
}

.fourth-off-out .fourth-off {
  width: 100%;
  height: fit-content;
}

.fourth-off-out .fourth-off form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.fourth-off-out > .fourth-off > form > .text-box1 {
  padding: 0px;
  margin: 0px;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: aliceblue;
}

.fourth-off > form > .text-box1 > .mail,
.zip,
.phno {
  padding: 10px;
}

.fourth-off-out > .fourth-off > form .mail > input,
.phno > input,
.zip > input {
  width: 100%;
  height: 50px;
  text-align: center;
  font-weight: bolder;
  text-transform: capitalize;
  border: 1px solid black;
}

.fourth-off-out > .fourth-off > form .mail > input:hover,
.phno > input:hover,
.zip > input:hover {
  border: 2px solid rgb(246, 158, 5);
}

.fourth-off-out > .fourth-off > form > .text-box2 {
  padding: 0px;
  margin: 0px;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fourth-off-out > .fourth-off > form > .text-box2 input {
  width: 100%;
  height: 50px;
  text-align: center;
  font-weight: bolder;
  text-transform: capitalize;
  border: 1px solid black;
}

.fourth-off-out > .fourth-off > form > .text-box2 input:hover {
  border: 2px solid rgb(246, 158, 5);
}

.fourth-off > form > .text-box2,
.name,
.lastname,
.text1 {
  padding: 10px;
}

.fourth-off > form > .text-box2,
.name > input,
.lastname > input {
  width: 100%;
  height: 50px;
  text-align: center;
  font-weight: bolder;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
}

.fourth-off > form > .text-box2 > .text1 > p {
  width: 100%;
  height: 50px;
  font-size: 0.8rem;
  text-align: justify;
  font-weight: bolder;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
}
.fourth-off > form > .text-box2 > .text1 a,
.signup > .text2 a {
  color: rgb(246, 158, 5);
  text-decoration: none;
}
.fourth-off > form > .signup {
  padding: 0px;
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  color: aliceblue;
}

.fourth-off > form > .signup,
.butn,
.text2 {
  padding: 5px 10px;
}

.fourth-off > form > .signup,
.butn,
.text2 > p {
  width: 400px;
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 0.8rem;
}

.fourth-off > form > .signup > .butn > button {
  width: 300px;
  background-color: rgb(0, 0, 0);
  color: rgb(126, 242, 194);
  height: 60px;
  cursor: pointer;
  box-shadow: rgb(255, 255, 255) 0px 50px 100px -20px,
    rgb(255, 255, 255) 0px 30px 60px -30px,
    rgb(143, 232, 254) 0px -2px 6px 0px inset;
  font-size: 1.3rem;
  font-variant: small-caps;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth-off > form > .signup > .butn > button:hover {
  background-color: rgba(128, 128, 128, 0.718);
  color: black;
}

#hr {
  height: 0.3vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.bottom {
  width: 100%;
  height: 15vh;
  background-color: rgb(242, 175, 175);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
}

.bottom > .links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 65%;
  overflow: hidden;
}

.bottom > .links .fir-links {
  display: flex;
  justify-content: space-around;
  font-variant: small-caps;
  font-size: 1.2rem;
}

.bottom > .links .fir-links * {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  cursor: pointer;
}

.bottom > .links .sec-link {
  display: flex;
  justify-content: space-around;
}

.bottom > .links .sec-link * {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: capitalize;
}

.bottom > .icons {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bottom > .icons > .img {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}

.bottom > .icons > .text {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 0px;
}

@media all and (max-width: 500px) {
  body {
    background-color: black;
  }
  nav {
    height: 5vh;
  }
  nav > .navbar > ul > li {
    font-size: 0.45rem;
  }
  #first-off {
    height: 50vh;
  }
  #sec-off {
    height: 23vh;
  }
  #sec-off > .sec-off-content > #box1-p1 {
    font-size: 1rem;
  }
  #sec-off > .sec-off-content > .sec-off-btn button {
    font-size: 1rem;
  }
  #sec-off > .sec-off-content #box1-p2 {
    font-size: 0.7rem;
  }
  .gap1 {
    height: 5vh;
  }
  .gap2 {
    height: 2vh;
  }
  .third-off {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120vh;
    justify-content: space-evenly;
  }

  .third-off .third-off-box1,
  .third-off-box2,
  .third-off-box3 {
    height: 30%;
    width: 97%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .third-off > .third-off-box1 > .box1-up,
  .third-off-box2 > .box2-up,
  .third-off-box3 > .box3-up {
    height: 5vh;
    width: 50%;
  }
  .third-off > .third-off-box1 > .box1-up > .box1-up-blackbox,
  .third-off-box2 > .box2-up > .box2-up-blackbox,
  .third-off-box3 > .box3-up > .box3-up-blackbox {
    border-radius: 0px;
    opacity: 0.5;
  }
  .third-off > .third-off-box1 > .box1-up > .box1-up-cont > p,
  .third-off > .third-off-box2 > .box2-up > .box2-up-cont > p,
  .third-off > .third-off-box3 > .box3-up > .box3-up-cont > p {
    font-size: 1rem;
  }
  .third-off > .third-off-box1 > .box1-down,
  .third-off > .third-off-box2 > .box2-down,
  .third-off > .third-off-box3 > .box3-down {
    display: flex;
    align-items: end;
    opacity: 1;
  }
  .third-off > .third-off-box1 > .box1-down > a button,
  .third-off > .third-off-box2 > .box2-down > a button,
  .third-off > .third-off-box3 > .box3-down > a button {
    height: 5vh;
    background-color: black;
    color: aliceblue;
    border-radius: 0px;
  }
  .fourth-off-out {
    height: 100vh;
  }
  .fourth-off-out .top-text {
    font-size: 1rem;
    text-indent: 0px;
    height: 5%;
  }
  .fourth-off-out .fourth-off {
    height: 95%;
    width: 100%;
    display: flex;
  }
  .fourth-off-out .fourth-off form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .fourth-off-out > .fourth-off > form > .text-box1 {
    width: 100%;
    height: 25%;
  }
  .fourth-off-out > .fourth-off > form .mail > input,
  .phno > input,
  .zip > input {
    height: 25px;
  }
  .fourth-off-out > .fourth-off > form > .text-box2 {
    width: 100%;
    height: 25%;
  }
  .fourth-off-out > .fourth-off > form > .text-box2 input {
    height: 25px;
  }
  .fourth-off > form > .signup {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .fourth-off > form > .signup,
  .butn {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
  }
  .fourth-off > form > .signup > .text2 {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
  }
  .fourth-off > form > .signup > .text2 > p {
    width: 100%;
    text-align: center;
  }
  .bottom > .links {
    width: 50%;
    height: 100%;
  }
  .bottom > .links .fir-links {
    font-size: 0.3rem;
    height: 50%;
    width: 100%;
  }
  .bottom > .links .sec-link {
    font-size: 0.3rem;
    height: 50%;
    width: 100%;
  }
  .bottom > .icons {
    width: 50%;
    height: 100%;
  }
  .bottom > .icons > .img {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .bottom > .icons > .img img {
    height: 20px;
    width: 20px;
  }
  .bottom > .icons > .text {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .bottom > .icons > .text > p {
    width: 80%;
  }
}
